#Footer{
     height: 150px;
     width: 100%;
    background-color: black;
     display: flex;
     align-items: center;
     justify-content: center;
}
#Footer ul{
     display: flex;
     flex-direction: column;
    width: 20%;
    font-size: 15px;
   
}
#Footer h1{
     font-size: 30px;
     color: white;
    
}