*{
    margin:0%;
    padding:0%;
    text-decoration: none;
    list-style: none;
}
BODY{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background-color: navy;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    height: 80PX;
    width: 100%;
    
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
     line-height: 90px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 8px;
    line-height: 80px;
    
    
}
nav a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 7px;
}
.container{
    height: 400px;
    width: 350px;
    background-color: peachpuff;
    border-radius: 20px;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    

}
.main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}

.card_img{
    width: 200px;
    height: 200px;
    padding: top;
    margin-left: 50px;
border-radius: 5px 10px;
}
div h2{
    text-align: center;
    color:  red;
    
    font-weight: bold;
}
.dec{
    text-align: justify;
    color: black;
    padding: 10px;
}
.container:hover{
    background-color:aqua;
}


