*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
nav{
     display: flex;
     height: 60px;
     width: 100%;
     background-color: #999696;
     justify-content: center;
      align-items: center;
     box-sizing: border-box;
     font-size: 25px;
     position: fixed;
     margin-bottom: 360px;
}
 nav a{
     text-decoration: none;
     color: white;
}
nav ul{
     justify-content: space-between;
     text-align: center;
     box-sizing: border-box;
     display: flex;
     padding: 50px;
}
nav ul li{
     list-style: none;
     display:inline-flex;
     display: flexbox;
     text-align: center;
     box-sizing: border-box;
     font-size: 25px;
    
     padding-left: 180px;

    
}
.container{
     width: 100%;
    
     background-color: #cac1c1;
     box-sizing: border-box;
     display: flex;
     flex-wrap: wrap;
     column-gap: 30px;
     row-gap: 30px;
     justify-content: center;
}
.cards{
     height: 500px;
     width:22% ;
     background-color: rgb(24, 19, 19);
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     box-sizing: border-box;
     border-radius: 25px;
     margin-top: 100px;
     color: white;
    

}
.cards a{
     text-decoration: none;
     color: white;
}
.cards a:hover{
     color: black;
     
}
.cards:hover{
    background-color: #fff;
    color: black;
    border: 5px solid white;
}
.cards img{
     height: auto;;
     width: 100%;
     box-sizing: border-box;
     border-bottom: 2px solid black;
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;
}
.cards img:hover{
     cursor: pointer;
     /* box-shadow: 4px; */
}
.footer{
     /* background-color: black; */
     background-color: #888686;
     color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;


}
