*{
     margin: 0;
     padding: 0;
}
#box{
     height: 200px;
     width: 400px;
     background-color: black;
     animation-name: box;
     animation-duration: 3s;
     animation-direction: alternate;
     animation-timing-function: linear;

}
@keyframes box{
     from{
          background-color: #fff;
     }
     to{
          background-color: red;
          width: 600px;
          border-radius: 20px;
     }
}